<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="vplan.vplan" android:versionCode="20" android:versionName="2.5">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="21" />
	<application android:label="CWS Informant" android:theme="@style/AppTheme" android:icon="@drawable/icon">
		<!--<activity android:name="vplan.MainActivity" >
	        <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    	</activity>
    	<activity android:name="vplan.NewsActivity"
    		android:parentActivityName="vplan.MainActivity"
    		android:label="Nachrichten" >
    		<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="vplan.MainActivity" />
    	</activity>
    	<activity android:name="vplan.NewsItemActivity"
    		android:parentActivityName="vplan.NewsActivity"
    		android:label="Nachricht-Details" >
    		<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="vplan.NewsActivity" />
    	</activity>
    	<activity android:name="vplan.SettingsActivity"
    		android:parentActivityName="vplan.MainActivity"
    		android:label="Klassen" >
    		<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="vplan.MainActivity" />
    	</activity>-->
		<service android:name="vplan.NotifyService">
		</service>
		<receiver android:name="vplan.StartupReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED">
				</action>
			</intent-filter>
		</receiver>
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest>